/* styles.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f9fa;
}

.logo-container {
  flex: 1;
}

.logo {
  max-width: 100px;
}

.nav-items ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav-items li {
  margin: 0 10px;
  cursor: pointer;
}
.res-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.res-card {
  margin: 7px;
  padding: 5px;
  height: 400px;
  width: 300px;
  border-radius: 3px;
  
}


.res-card:hover {
  cursor: pointer;
  border: 2px solid black;
}

.search {
  padding: 10px;
}

.res-logo{
  height: 200px;
  width: 290px;
  padding: 5px;
}

.filter-btn{
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}